{% extends "base.html" %}

{% block title %}
	Contact Us
{% endblock title %}

{% block content %}
	
	<!--Section: Contact v.2-->
	<section class="section">

	    <!--Section heading-->
	    <h2 class="h1-responsive font-weight-bold text-center my-5">Contact us</h2>
	    <!--Section description-->
	    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
	        matter of hours to help you.</p>

	    <div class="row">

	    	<!-- grid column -->
	    	<div class="col-md-3"></div>
	    	<!-- grid column -->

	        <!--Grid column-->
	        <div class="col-md-6 mb-md-0 mb-5">
	            <form id="contact-form" name="contact-form" method="POST">

	                <!--Grid row-->
	                <div class="row">

	                    <!--Grid column-->
	                    <div class="col-md-6">
	                        <div class="md-form mb-0">{{ form.name }}
	                            <!-- <input type="text" id="name" name="name" class="form-control"> -->
	                            <label for="name" class="">{{ form.label_tag }}</label>
	                        </div>
	                    </div>
	                    <!--Grid column-->

	                    <!--Grid column-->
	                    <div class="col-md-6">
	                            <!-- <input type="text" id="email" name="email" class="form-control"> -->
	                        	<div class="md-form mb-0">{{ form.email }}
	                            <label for="email" class="">{{ form.label_tag }}</label>
	                        </div>
	                    </div>
	                    <!--Grid column-->

	                </div>
	                <!--Grid row-->

	                <!--Grid row-->
	                <div class="row">

	                    <!--Grid column-->
	                    <div class="col-md-12">

	                        <div class="md-form">{{ form.message }}
	                            <label for="message">{{ form.label_tag }}</label>
	                        </div>

	                    </div>
	                </div>
	                <!--Grid row-->

	            </form>

	            <div class="text-center text-md-left">
	                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
	            </div>
	            <div class="status"></div>
	        </div>
	        <!--Grid column-->

	        <!--Grid column-->
	        <div class="col-md-3 text-center">
	        </div>
	        <!-- grid column -->

	    </div>

	</section>
	<!--Section: Contact v.2-->

{% endblock content %}